@charset "UTF-8";
/* CSS Document */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color:#ffee00;
  height:240px;
}

h1 {
  padding-top:70px;
  font-size:80px;
}

span {
  color:#ff4a4a;
}

.content {
  padding-bottom:90px;
  font-size:13px;
}

p {
  padding-bottom:12px;
}


h2 {
  font-size:30px;
  padding-bottom:20px;
}

.what-heading {
  font-size:30px;
  padding-top:80px;
}

.what {
  background-color: #f7f7f7;
  height:410px;
  margin-bottom:190px;
}

.gif-hello {
  padding-top:80px;
  height:200px;
}

p a .how {
  padding-bottom:50px;
}

.party-heading {
  padding-top:100px;
}

.or {
  font-weight:bold;
  color:#ff4a4a;
}

.qrcode {
  height:200px;
}


.buddy {
  background-color: #f7f7f7;
  height:200px;
  margin-bottom:80px;
}

.buddy-heading {
  padding-top:80px;
}

.logo {
  padding-right:20px;
  padding-left:20px;
  height:120px;
}

footer p {
  font-size:10px;
}

@media all and (max-width: 670px) {
  h1 {
    font-size:60px;
    padding-top:50px;}
  }

  }
