@charset "UTF-8";
/* CSS Document */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: "Avenir Next",  'Hiragino Kaku Gothic ProN W3', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


header {
  background-color:#ffee00;
  height:240px;
  text-align:center;
}

h1 {
  padding-top:70px;
  font-size:80px;
}

span {
  color:#ff4a4a;
}

.content {
  padding-bottom:90px;
  font-size:13px;
}

p {
  padding-bottom:12px;
    text-align:center;
}

h2 {
  font-size:30px;
  padding-bottom:20px;
}

.what-heading {
  font-size:30px;
  padding-top:80px;
  text-align:center;
}

.what {
  background-color: #f7f7f7;
  height:410px;
}

.gif-hello {
  height:50px;
}

.corona-content {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
}

p a .how {
  padding-bottom:50px;
}

.party-heading {
  padding-top:100px;
  padding-bottom:60px;
}

.party {
  text-align: center;
  background-color:#a5ce39;
}

.attend {
  float:left;
  width: 33%;
}

.attend-image {
  height:340px;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:20px;
}

.or {
  font-weight:bold;
  color:#ff4a4a;
}

.qrcode {
  height:100px;
}

.buddy {
  background-color: #f7f7f7;
  margin-bottom:50px;
  text-align:center;
}

.buddy-heading {
  padding-top:80px;
}

.logo {
  padding-right:20px;
  padding-left:20px;
  height:120px;
}

footer p {
  font-size:10px;
}
