@charset "UTF-8";
/* CSS Document */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  text-align: center;
}

.top {
  padding-top:30px;
}

h1 {
  font-size:60px;

}

h1 span {
  color:#ff4a4a;
}

.content {
  padding-bottom: 50px;
}


h2 {
  font-size:30px;
}

p a .how {
  padding-bottom:50px;
}

.or {
  font-weight:bold;
    color:#ff4a4a;
}

img .qrcode {
  padding-bottom:100px;
}

.sponsor {
  padding-top:90px;
  padding-bottom:0;
}

.logo {
  padding-right:30px;
  size:30px;
}
