@media screen and (max-width: 670px) {
  h1 {
    font-size:60px;
    padding-top:50px;
  }

  .attends-container {
    text-align: center;
    margin-bottom:10px;
    clear: both;
  }

  iframe {
    width:450px;
    height:400px;
  }

  .what-text p {
    font-size:12px;
  }

  }

@media screen and (max-width: 1000px) {
  h1 {
      font-size:60px;
      padding-top:50px;
    }

  .attends-container {
      margin-bottom:10px;
      clear: both;
    }

}
