@media screen and (max-width: 670px) {
  h1 {
    font-size:40px;
  }

  .attends-container {
    text-align: center;
    margin-bottom:15px;
    clear: both;
  }

.google-calender {
    width:95%;
  }

.event-detail {
  font-size:10px;
}

  .what-text p {
    font-size:10px;
  }

  .github-text {
    font-size:10px;
  }

  .calender-id {
    font-size:10px;
  }

  .logo {
    height:100px;
  }

  .top-image{
    height:90px;
  }

  .top-image-wrapper {
    float:left;
    width:50%;
  }

  .top-images {
    padding-bottom:120px;
    padding-right:40px;
    padding-left:40px;
  }
  .top-image-text {
    font-size:10px;
  }

  }

@media screen and (max-width: 1000px) {

  .attends-container {
      margin-bottom:15px;
      clear: both;
    }

    .google-calender {
        width:90%;
      }

}
