@media screen and (max-width: 670px) {
  h1 {
    font-size:50px;
    padding-top:50px;
  }

  .attends-container {
    text-align: center;
    margin-bottom:15px;
    clear: both;
  }

.google-calender {
    width:345px;
    height:400px;
  }

.event-detail {
  font-size:12px;
}

  .what-text p {
    font-size:12px;
  }

  .github-text {
    font-size:12px;
  }

  .calender-id {
    font-size:10px;
  }

  }

@media screen and (max-width: 1000px) {
  h1 {
      font-size:60px;
      padding-top:50px;
    }

  .attends-container {
      margin-bottom:15px;
      clear: both;
    }

}
